@import url(/src/style/reset.css);
@import url(/src/style/global.css);
@import url(/src/style/text.css);
@import url(/src/style/button.css);

.app {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app input {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--grey-1);
}
.app span {
  position: absolute;
  right: 10px;
  background-color: var(--grey-1);
  padding: 0 0.5rem;
}
